<%= lato_page_head I18n.t('lato_spaces.spaces') do %>
  <p class="lead">Hi <b><%= @session.user.first_name %></b>! Please <b>select the group</b> you want to work on.</p>
<% end %>

<%= turbo_frame_tag 'index' do %>
  <div class="row">
    <% @groups.each do |group| %>
      <% is_selected = @session.get(:spaces_group_id)&.to_i == group.id %>

      <div class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card h-100 border border-4 <%= is_selected ? 'border-success' : 'border-light' %>">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
              <i class="<%= LatoSpaces.config.group_icon %> fs-1"></i><br>
              <span class="fw-bold"><%= group.name %></span>
              <div class="d-flex justify-content-center align-items-center mt-2">
                <% if @session.user.lato_spaces_admin %>
                  <%= link_to lato_spaces.groups_show_path(group), class: "btn btn-light btn-sm me-1", data: { turbo_frame: '_top' } do %>
                    <i class="bi bi-gear"></i>
                  <% end %>
                <% end %>
                <%= link_to lato_spaces.setgroup_path(group), class: "btn btn-#{is_selected ? 'success' : 'primary'} btn-sm ms-1", data: { turbo_method: :post } do %>
                  <i class="bi bi-check-circle<%= is_selected ? '-fill' : '' %>"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @session.user.lato_spaces_admin %>
      <div class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <%= link_to lato_spaces.groups_path, class: 'card border border-4 border-primary bg-primary text-white text-decoration-none h-100' do %>
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
              <i class="bi bi-sliders fs-1"></i><br>
              <span class="fw-bold">Manage groups</span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>