<%= turbo_frame_tag dom_id(membership, 'form') do %>
  <%= form_with model: membership, url: lato_spaces.memberships_create_action_path(membership.lato_spaces_group_id), data: { turbo_frame: '_self', controller: 'lato-form' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors membership, class: %w[mb-3] %>

    <div class="mb-3">
      <%= lato_form_item_label form, :email %>
      <%= lato_form_item_input_email form, :email, required: true %>
    </div>

    <div class="d-flex justify-content-end">
      <%= lato_form_submit form, I18n.t('lato_spaces.cta_confirm'), class: %w[btn-success] %>
    </div>
  <% end %>
<% end %>